---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Adaptabilité et flexibilité</h2>
		<p>Je suis capable de m'adapter rapidement aux nouvelles situations, de trouver des solutions créatives et de changer de direction si nécessaire. J'ai également appris à travailler efficacement avec des personnes ayant des antécédents différents et des perspectives variées, en restant ouvert d'esprit et en respectant les opinions des autres.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit d'équipe</h2>
		<p>J'aime travailler en équipe car cela me permet de collaborer avec des personnes ayant des compétences et des idées différentes des miennes. En travaillant ensemble, nous pouvons trouver des solutions plus créatives et plus efficaces aux problèmes, tout en partageant les tâches et la charge de travail. J'aime aussi le fait que travailler en équipe permet de développer des compétences interpersonnelles telles que l'écoute, la communication et la résolution de conflits. Enfin, le travail d'équipe peut être très gratifiant sur le plan personnel, car nous avons la satisfaction de contribuer à quelque chose de plus grand que nous-mêmes.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Créativité</h2>
		<p>Je suis une personne créative, qui apprécie explorer de nouvelles idées et de nouvelles perspectives. J'aime aborder les problèmes sous différents angles, cherchant toujours des solutions innovantes. Dans mes projets scolaires et professionnels, j'ai toujours cherché à apporter une touche personnelle et unique en utilisant des idées novatrices et en explorant des approches différentes.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
